.vscode/
/build/
/util/
/model/
/tour/
/logs/
/plot/
/libs/*
/measures/compacttot.csv
/other_codes/logs.log
/other_codes/runserver.sh
logs.log

/webapp/backend/tour/
/webapp/backend/logs/
/webapp/backend/plot/

#flask
__pycache__/
venv/